@{
    ViewData["Title"] = "Home";
}

<section>
    <div class="jumbotron">
        <h1 class="display-4">Bienvenidos!</h1>
        <p class="lead">Esta es una aplicacion simple para brindarle mantenimiento a los afiliados y sus planes.</p>
        <hr class="my-4">
    </div>
</section>